:root {
    --clr1: #202124;
    --clr2: #262626;
    --clr3: #5F6368;
    --clr4: #D93025;
    --clr5: #1A73E8;
    --clr6: #188038;
    --clr7: #F2F5F5CC;

    --clrCritical: #eb5a46;
    --clrFamily: #0079BF;
    --clrWork: #61BD4F;
    --clrFriends: #F2D600;
    --clrSpam: #FF9F1A;
    --clrMemories: #C377E0;
    --clrRomantic: #0098B7;
}