* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: roboto-regular;
    color: var(--clr1);
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}