.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.full-width {
    width: 100%;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

pre {
    margin: 0;
}