.search-container {
    display: flex;
    padding: 0.5em 0.5em;
    border-radius: 1.7em;
    background-color: #b6d1dd;
    transition: box-shadow, background-color .3s;
}

.search-container input {
    border: none;
    background-color: inherit;
    outline: none;

}

.search-container:focus-within {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #FFF;
}

.search-container .img-container {
    width: 1.5em;
    cursor: pointer;
    border-radius: 5em;
}

.search-container .img-container:hover {
    background-color: #ccc;  
}

.search-container select {
    text-align: center;
    border: none;
    background-color: inherit;
    outline: none;
}

@media (min-width: 720px) {

    .search-container {
        padding: 0.7em 1em;
        border-radius: 0.7em;
        background-color: var(--clr8);

    }

    .search-container input {
        font-size: 16px;
    }

    .search-container .img-container {
        width: 2em;
    }
}