.email-preview {
    border-bottom: 1px solid var(--clr3);
    position: relative;
    display: flex;
}

.email-preview:hover {
    cursor: pointer;
    box-shadow: rgb(100 100 111 / 20%) 0 2px 2px 2px;

}

.email-preview td {
    padding: 0.9em;
}

.email-preview .preview-subject{
    font-family: roboto-bold;
    width: 200px;
}

.email-preview .preview-body {
    /* width: 400px; */
}

.email-preview .preview-to {
    font-family: roboto-bold;
}

.email-preview .sent-at {
    width: 100px;
    position: absolute;
    right: 0;
}

.preview-content .preview-subject.read, .preview-to.read{
    font-family: roboto-regular;
}

.email-preview.read{
    background-color: var(--clr7);
}

.email-preview img{
    width: 20px;
}


@media (min-width: 850px) {
    .email-preview {
        border-bottom: 1px solid var(--clr3);
        position: relative;
        /* min-width:1000px; */
        display: flex;
    }

    .email-preview .preview-subject{
        width: 80px;
    }

    .email-preview .sent-at {
        /* width: 100px; */
        /* position: absolute; */
        /* right: 0; */
    }
}

@media (min-width: 1120px) {
    .email-preview .preview-subject{
        width: 200px;
    }


  
} 