.email-preview {
    border-bottom: 1px solid var(--clr3);
    align-items: center;
    justify-content: space-between;
}

.email-preview:hover {
    cursor: pointer;
    box-shadow: rgb(100 100 111 / 20%) 0 2px 2px 2px;

}

.email-preview .subject{
    align-self: flex-start;
    font-family: roboto-bold;
}

tr {
    align-items: center;
}

.email-preview td {
    padding: 0.9em;
}

.preview-content .subject.read{
    font-family: roboto-regular;
}

.email-preview.read{
    background-color: var(--clr7);
}

.email-preview img{
    width: 20px;
}

/* 
@media (min-width: 720px) {

}

@media (min-width: 1120px) {
    
} */