.email-folder-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 1em;
    z-index: 20;
    top: 80px;
    left: -100%;
    background-color: #b6d1dd;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 4em 1em;
    transition: left 0.3s;
}

body.email-menu-open .email-folder-list {
    left: 0;
}

.folders>div {
    margin-top: 1em;
    padding: 0.4em 1.5em;
    border-radius: 0.5em;
}

.folders div:hover {
    background-color: var(--clr8);
    transform: scale(1.02);
}

.email-folder-list div {
    cursor: pointer;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.email-folder-list .img-container {
    width: 20px;
}

.compose-btn-container {
    font-family: roboto-bold;
    color: var(--clr3);
    width: 150px;
    padding: 0.5em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.compose-btn-container:hover {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 12px 3px;
}

.compose {
    background-color: white;
}

.folders button .active {
    background-color: red;
}

.email-count-container {
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.email-count {
    position: relative;
    background-color: #999;
    border-radius: 1em;
    /* width: 100px; */
    flex-basis: 100%;
    height: 70%;
    text-align: center;
}

.email-count > :first-child {
    height: 100%;
    background-color: red;
    border-radius: 1em;
    color: white
}

.count-value {
    /* margin: 0 auto; */
    text-align: center;
    position: relative;
    top: -24px;
    z-index: 10;
    font-weight: bold;
}

@media (min-width: 720px) {
    .email-folder-list {
        position: static;
        padding: 4em 1em;
        background-color: transparent;
    }

    .folders>div {
        padding: 0.4em 2.9em;
    }

    .email-folder-list .img-container {
        width: 20px;
    }

}

@media (min-width: 1120px) {
    .email-folder-list {
        padding: 4em 3em;
    }
}