.email-preview {
    border-bottom: 1px solid var(--clr3);
    /* margin: 1em auto; */
    padding: 0.7em 0;
    justify-content: flex-start;
}

.email-preview:hover {
    cursor: pointer;
    box-shadow: rgb(100 100 111 / 20%) 0 2px 2px 2px;

}

.email-preview a{
    display: flex;
    align-items: center;    
    margin-inline-start: 1em;
}

.email-preview.read{
    background-color: var(--clr7);
}

.email-preview .img-container {
    width: 30px;
}