.search-container {
    display: flex;
    justify-content: space-between;
    top: 8px;
    left: 200px;
    padding: 0.5em 0.5em;
    border-radius: 1.7em;
    background-color: #b6d1dd;
    transition: box-shadow, background-color .3s;
}

.search-container input {
    flex-basis: 100%;
    border: none;
    background-color: inherit;
    outline: none;
}

.search-container:focus-within {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #FFF;
}

.search-container .img-container {
    width: 1.5em;
    cursor: pointer;
    border-radius: 5em;
}

.search-container .img-container:hover {
    background-color: #ccc;
}

.search-container select {
    display: none;
    text-align: center;
    border: none;
    background-color: inherit;
    outline: none;
}

.nav-mobile {
    width: 25px;
    cursor: pointer;
    transition: transform .3s;
    border-radius: 5em;
    padding: 0.25em;
}

.nav-mobile:hover {
    background-color: var(--clr9);
}

body.email-menu-open .nav-mobile {
    transform: rotate(90deg);
}

@media (min-width: 580px) {
    .search-container {
        width: 300px;
    }    
}

@media (min-width: 720px) {

    .search-container {
        border-radius: 0.7em;
        background-color: var(--clr8);
        left: 235px;
        position: absolute;
        width: 50%;
    }

    .search-container input {
        font-size: 16px;
    }

    .search-container .img-container {
        width: 2em;
    }

    .search-container select {
        display: block;
        text-align: center;
        border: none;
        background-color: inherit;
        outline: none;
    }

    .email-header .nav-mobile {
        display: none;
    }
}

@media (min-width:1120px) {
    .search-container {
        width: 710px;
        left: 290px;
    }
}