.email-preview {
    position: relative;
    /* z-index: -50; */
    display: flex;
    font-size: 14px;
    margin-top: 0.1em;
    padding: 15px 15px;
    border-bottom: 1px solid #c5c5c5;
}

.email-preview:hover {
    cursor: pointer;
    box-shadow: rgb(100 100 111 / 42%) 1px 2px 2px 0px;
}

.preview-container{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.email-preview .preview-subject{
    font-family: roboto-bold;
    width: 90px;
}

.email-preview .preview-to {
    font-family: roboto-bold;
}

.preview-content .preview-subject.read, .preview-to.read{
    font-family: roboto-regular;
}

.email-preview .sent-at {
    color: var(--clr5);
    width: 100px;
    position: static;
    right: 0;
}

.email-preview.read{
    background-color: var(--clr7);
}

.email-preview img{
    width: 15px;
}



@media (min-width: 720px) {
    .email-preview {
        font-size: 16px;
    }

    .email-preview img{
        width: 20px;
    }

    .email-preview .preview-subject{
        width: 80px;
    }

    .email-preview td {
        padding: 0.9em;
    }

    .email-preview .sent-at {
        position: absolute;
    }

    .preview-container{
        flex-direction: row;
        gap: 1em;
    }
}

@media (min-width: 1120px) {
    .email-preview .preview-subject{
        width: 200px;
    }


  
} 