.email-details {
    margin: 15em 18em;
    padding: 4em;
    background-color: antiquewhite;
}

.email-details h2 {
    margin-bottom: 0.5em;
}

.email-details span {
    margin-inline-end: 1em;
}

.email-details button {
    margin: 0.5em;
}