
.hero {
    height: 50vh;
    background-image: url('../../img/common-imgs/nasa.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    color: #FFF;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center ;
    font-family: montserrat;
    font-size: 30px;
}

@media (min-width: 720px) {
    .hero {
        font-size: 50px;
        
    }  
}

@media (min-width: 1120px) {
    .hero {
        font-size: 60px;
        
    }  
}