.app-home {
    padding: 60px 140px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: josefin;
    background-color: rgb(249, 237, 221);
}

.home-page-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line-one {
    font-size: 80px;
    text-align: left;
}

.line-two {
    font-size: 100px;
    text-align: right;
    margin-bottom: 80px;
}

.home-img-container {
    min-width: 600px;
    max-width: 600px;
}

.home-img {
    border-radius: 10px;
}

@media (min-width: 720px) {
    .hero {
        font-size: 50px;

    }
}

@media (min-width: 1120px) {
    .hero {
        font-size: 60px;

    }
}

@media (max-width: 760px) {

    .app-home {
        padding: 40px 40px 0;
    }

    .line-one {
        font-size: 40px;
        text-align: left;
    }

    .line-two {
        font-size: 40px;
        text-align: right;
        margin-bottom: 40px;
    }


    .home-img-container {
        min-width: 200px;
        max-width: 500px;
        /* position: fixed; */
        /* transform: translate(-50%,-50%); */
    }
}


@media (max-width: 520px) {


    .app-home {
        padding: 40px 40px 0;
    }

    .line-one {
        font-size: 35px;
        text-align: left;
    }

    .line-two {
        font-size: 35px;
        text-align: right;
    }


    .home-img-container {
        min-width: 100px;
    }
}