/* Setup */
@import './setup/variables.css';
@import './setup/fonts.css';

/* Basics */
@import './basics/base.css';
@import './basics/helpers.css';

/* Pages */
@import './pages/app-home.css';
@import './apps/keep/pages/keep-app.css';
@import './apps/email/pages/email-app.css';
@import './apps/email/pages/email-details.css';
@import './apps/email/pages/main-screen.css';

/* Common Cmps */
@import './common-cmps/app-header.css';
@import './common-cmps/app-nav.css';
@import './common-cmps/long-text.css';
@import './common-cmps/user-msg.css';
@import './common-cmps/about.css';


/* Keep Cmps */
@import './apps/keep/cmps/keep-header.css';
@import './apps/keep/cmps/note-filter.css';
@import './apps/keep/cmps/note-add.css';
@import './apps/keep/cmps/note-list.css';
@import './apps/keep/cmps/note-preview.css';
@import './apps/keep/cmps/note-details.css';

/* Email Cmps */
@import './apps/email/cmps/email-header.css';
@import './apps/email/cmps/email-filter.css';
@import './apps/email/cmps/email-compose.css';
@import './apps/email/cmps/email-folder-list.css';
@import './apps/email/cmps/email-list.css';
@import './apps/email/cmps/email-preview.css';
