.keep-header{
   margin: 6px 60px;
   /* height: 85px; */
}
.keep-header .logo {
    width: 150px;
}

.keep-header .nav-logo {
   width: 60px;
}

@media (max-width: 580px) {
   .keep-header .logo {
      width: 30vw;
      /* max-width: 150px; */
      /* height: 100%; */
  }
  .nav-logo{
     max-width: 20vw;
  }
}

@media (max-width: 580px) {
.keep-header{
   margin: 6px 15px;
}

}