.note-details {
    max-height: 80vh;
    width: 600px;
    border-radius: 20px;
    border: 3px black solid;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 3;
}

.details-vid-form {
    height: 60vh;
}

.note-details-vid-container {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 90%;
    width: 90%;
}

.note-details-img-container {
    max-width: 80%;
    max-height: 80%;
    margin: 10px auto;
}

.details-txt-form {
    gap: 10px;
}
/* .details-txt-form input {
    border: none;
} */

.details-txt-form #title {
    font-size: 22px;
}

.details-txt-form #txt {
    font-size: 18px;
}

@media (max-width: 700px) {
    .note-details {
        width: 80vw;
    }

    img {
        max-width: 80vw;
    }
}

.todo-text {
    width: 80%;
}

.todo-line {
    /* justify-content: space-evenly; */
    gap: 15px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

.details-txt-input {
    height: 45px;
    border: 1px solid #727272;
    border-radius: 30px;
    padding-left: 25px;
}

.todo-text {
    height: 35px;
    border: 1px solid #727272;
    border-radius: 30px;
    padding-left: 25px;
}

.url-text {
    margin: 10px auto 5px;
}

.text-area {
    border: 1px solid #727272;
    border-radius: 30px;
    padding-left: 25px;
}
