.note-preview-img-container{
   margin: auto;
   margin-top: 10px;
   max-width: 80%;
}

.note-preview-vid-container{
   margin: auto;
   margin-top: 10px;
   height:80%;
   max-width: 80%;

}

iframe{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

/* .colorPrev-button{
   z-index: 5;
} */

/* .pin-button */
/* .pinned */
/* .not-pinned */
/* .preview-buttons */
/* .duplicate-button */