.note-preview-img-container {
    margin: auto;
    margin-top: 10px;
    max-height: 80%;
    /* max-width: 80%; */
    
    
    
    /* max-height: 80%; */
    /* object-fit: contain; */

    
    
}
.note-prev-title{
    font-size: 18px;
    font-weight: bolder;
}
.preview-img{
    max-height: 80%;
}

.note-preview-vid-container {
    margin: auto;
    margin-top: 10px;
    height: 80%;
    max-width: 80%;
}

iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.colorPrev-button{
    /* display: none; */

    max-width: 30px;

   /* z-index: 5; */
}

/* .pin-button */
/* .pinned */
/* .not-pinned */

/* .duplicate-button */

.note-preview-txt{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.note-prev-txt{
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: roboto-regular;
    font-weight: bold;
}


@media (max-width: 580px) {
    .note-preview-container {
        margin-bottom: 0;
    }
}

.todo-txt{
    max-width: 90%;
}