.note-list {
    margin: 20px 60px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.note-preview-container {
    cursor: pointer;
    min-width: 240px;
    max-width: 240px;
    border: 2px black solid;
    padding: 10px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.note-preview {
    height: 100%;
}
.todos-preview {
    height: 100%;
}


.todos-preview {
    margin-top: 8px;
    gap: 4px;
}

.todo-done-img {
    margin: auto;
    height: initial;
}

.todo-img-container {
    align-self: flex-start;
    height: 20px;
    width: 20px;
}
