.note-filter-form{
   text-align: center;
   flex-wrap: wrap;
   gap:10px;
   justify-content: center;
   margin: 10px 60px;
}


@media (max-width: 580px) {


   .note-filter-form{
      margin: 10px 30px;
   }}