.note-preview-img-container {
    margin: auto;
    margin-top: 10px;
    max-height: 80%;
    /* max-width: 80%; */
    
    
    
    /* max-height: 80%; */
    /* object-fit: contain; */

    
    
}
.preview-img{
    max-height: 80%;
}

.note-preview-vid-container {
    margin: auto;
    margin-top: 10px;
    height: 80%;
    max-width: 80%;
}

iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .colorPrev-button{
   z-index: 5;
} */

/* .pin-button */
/* .pinned */
/* .not-pinned */

/* .duplicate-button */

.note-preview-txt{
    display: flex;
    flex-direction: column;
    gap: 5px;

}


@media (max-width: 580px) {
    .note-preview-container {
        margin-bottom: 0;
    }
}

.todo-txt{
    max-width: 90%;
}