.app-nav img {
   width: 30px;
   cursor: pointer;
}

.app-nav {
   position: absolute;
   z-index: 100;
   top: -100%;
   right: 0;
   height: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   padding: 20px 40px;
   font-family: roboto-bold;
   font-size: 18px;
   background-color: rgba(201, 222, 230, 0.767);
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
   transition: top 0.4s;
}

body.main-menu-open .app-nav {
   height: auto;
   top: 68px;
   box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);

}


.nav-img-container{
   justify-self: flex-end;

}
.main-nav-img {
   max-width: 40px;
   max-height: 48px;
   align-self: flex-end;
   /* margin-inline-end: 1.5em; */
   /* margin-left: 400%; */
   cursor: pointer;
   transition: transform .4s;
   border-radius: 5em;
}

.main-nav-img:hover {
   background-color: #eee;
}

body.main-menu-open .main-nav-img {
   transform: rotate(90deg);
}

.app-nav button {
   background-color: inherit;
   border: none;
   font-family: roboto-bold;
   font-size: 16px;
}

.app-nav>*:hover {
   transform: scale(1.1);
}

.active>button {
   color: green;
}

@media (min-width: 720px) {
   .app-nav {
      padding: 20px 60px;
      gap: 90px;
   }

   .app-nav img {
      width: 45px;
   }

   .main-nav-img {
      width: 50px;
      /* margin-inline-end: 4.2em; */

   }
}