.app-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: lightblue;
   padding: 1em 0;
}

.main-logo{
   width: 150px;

   margin-inline-start: 4.6em;
   /* margin-inline-start: 1.6em; */
}

/* @media (max-width:720px) { */
@media (max-width:580px) {
   .main-logo{
      margin-inline-start: 20px;
      /* margin-inline-start: 4.6em; */
   }   
}

