.app-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: lightblue;
   padding: 1em 0;
}

.main-logo{
   width: 50px;
   margin-inline-start: 1.6em;
}

/* @media (max-width:720px) { */
@media (max-width:580px) {
   .main-logo{
      width: 70px;
      margin-inline-start: 4.6em;
   }   
}

