.app-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: lightblue;
   padding: 1em 0;
}

.main-logo{
   width: 40px;
   margin-inline-start: 1.6em;
}

@media (min-width:720px) {
   .main-logo{
      width: 60px;
      margin-inline-start: 4.6em;
   }   
}

