.app-nav img {
   width: 30px;
   cursor: pointer;
}

.app-nav {
   position: absolute;
   z-index: 100;
   top: -500%;
   right: 0;
   height: 0px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   padding: 10px;
   font-family: roboto-bold;
   font-size: 18px;
   background-color: white;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
   transition: top 0.4s;
}

.app-nav > * {
   flex-basis: 25%;
}

body.main-menu-open .app-nav {
   height: auto;
   top: 61px;
   box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);

}

.nav-img-container{
   justify-self: flex-end;

}
.main-nav-img {
   max-width: 40px;
   max-height: 48px;
   align-self: flex-end;
   cursor: pointer;
   transition: transform .4s;
   border-radius: 5em;
}

.main-nav-img:hover {
   background-color: #eee;
}

body.main-menu-open .main-nav-img {
   transform: rotate(90deg);
}

.app-nav button {
   background-color: inherit;
   border: none;
   font-family: roboto-bold;
   font-size: 16px;
}

.app-nav>*:hover {
   transform: scale(1.1);
}

.active>button {
   color: green;
}


#keep{
   width: 70px;
}

#email{
   width: 100px;
}

#home{
   width: 50px;
}

#about{
   width: 40px;
}

.keep{
   width: 70px;
}

.email{
   width: 90px;
}

.home{
   width: 100px;
}

.about{
   width: 35px;
   object-fit: contain;
}

@media (min-width: 720px) {
   .app-nav {
   }

   .app-nav img {
      width: 45px;
   }

   .main-nav-img {
      width: 50px;
   }
}