.app-nav img {
   width: 30px;
   cursor: pointer;
}

.app-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 60px;
   background-color: lightblue;
   gap: 20px;
   font-family: roboto-bold;
   font-size: 18px;
}

.active {
   color: green;
}

@media (min-width: 720px) {
   .app-nav {
      gap: 90px;
   }

   .app-nav img {
      width: 50px;
   }
}